.search-frame > div { margin-bottom: 30px;}
.search-frame .category-group { overflow: hidden; background: var(--grey-2); }
.search-frame .category { margin-bottom: 20px; background: var(--blue-dark); }
.search-frame .category h2 { font-size: 22px; padding: 10px 20px; margin: 0; color: var(--white); }
.search-frame .category:hover { background: var(--blue-dark-dark); }
.search-frame .category a:link, a:visited, a:active { text-decoration: none; }
.search-frame .subject { display: flex; flex-wrap: wrap; margin: 0 15px 20px 15px; }
.search-frame .subject .cloud { display: flex; background: var(--white); overflow: hidden; margin: 5px; }
.search-frame .subject .cloud div:first-child { padding: 10px 0; }
.search-frame .subject .cloud:hover { background: var(--yellow); }
.search-frame .subject .cloud:hover .number { background: var(--blue-dark); }
.search-frame .subject h3 { display: inline-block; float: left; padding: 0 10px; font-size: 18px; }
.search-frame .subject .number { background: var(--grey-3); color: var(--white); float: left; width: 36px; min-width: 36px; margin-left: 10px; text-align: center; font-size: 18px; padding-top: 10px; }

